<footer class="bg-black ph3 pv4 white" style='position: relative; top: 100vh; z-index: 9;'>

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<!-- <img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">-->
			{{ partial "contact-form" . }}

		</div>

		<div class="">

						<div>
				<ul class="tc w-100">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "title" "La Comechingona en Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "title" "La Comechingona en Twitter") }}
				</ul>
			</div>

		</div>
	</div>
  <span>Hecho por <a href='https://maleza.chuncane.com' target='blank'>Maleza</a> para <a href='https://chuncane.com' target='blank'>Chuncane</a></span>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
