<footer class="bg-black ph3 pv4 white" style='position: relative; top: 100vh; z-index: 9;'>

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<!-- <img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">-->
			{{ partial "contact-form" . }}

		</div>

		<div class="">

						<div>
				<ul class="tc w-100">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
