<head>

	<title>{{ .Title }} | Casa Calaguala</title>
  <meta name="description" content="Construimos tu casa ecológica. Los prototipos están diseñados específicamente para la región ambiental de lo que abarcaría la influencia de los comechingones.">
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" media="(min-width: 40em)" href="/css/main-screen-and-min-width-40-em.css" />
	<link rel="stylesheet" type="text/css" media="(min-width: 50em)" href="/css/main-screen-and-min-width-50-em.css" />
	<link rel="stylesheet" type="text/css" media="(min-width: 60em)" href="/css/main-screen-and-min-width-60-em.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">-->

	<!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <meta name="msapplication-TileColor" content="#67d458">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#67d458">
	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="La Comechingona | Casa Calaguala">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/og-image.jpg">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/rubik-regular-webfont.woff2"/>
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/rubik-bold-webfont.woff2"/>

	<!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->
</head>
