  <div class="ttu pt6 fixed w-100 tr z-2 pa3" >
    <div class="mb3">
      <div class="mb3">
        <h1 class="f2 f1-ns b lh-title mb3 white word-wrap" style='font-size: 8vw;'>LA COMECHINGONA</h1>
        <div class='black'>BIOCONSTRUCCIONES</div>
        <div class='black'>-CONSTRUIMOS TU CASA ECOLÓGICA-</div>
      </div>
    </div>
  </div>

<div class="bg-black pv5 pv6-l ph3 bg-center cover fixed jumboback jumboback-ns" style="background-image: url('{{.imageUrl}}'); background-position: bottom;">
</div>
