<!-- <div class="bg-off-white pv4 relative tc" style="z-index: 4; top: 100vh;">-->

<!-- <h2 class='f2 b lh-title mb2 sticky w-50-ns tr pt4'>Versiones</h2>-->

<!--       {{ range .items }}-->
<!--   <div class="ph3-m w-100">-->
<!--     <img src="{{.img}}" alt="" class="dib mb2">-->
<!--   </div>-->

<!--       {{ end }}-->
<!--   <div class="ph3-m w-50-m">-->
<!--     <h3 class="f3 b lh-title mb1">{{.heading}}</h3>-->
<!--     <p>{{.text}}</p>-->
<!--   </div>-->

<!-- </div>-->
<div id='versions' class="bg-black white pv4 ph3 center relative" style="z-index: 3; top: 100vh;">
<h2 class='bg-black f3 b lh-title mb2 sticky w-50-ns tr-ns pv4'>VERSIONES</h2>
	<div class="ph3 mw7 center">

		<div class="mhn2-ns mb3">
			{{ range .items }}
				<div class="ph2-ns mv4 cf">
          <h3 class="sticky4 sticky4-ns w-50 w-50-ns fl tr-ns">{{.heading}}</h3>
          <img data-src="{{.img}}" alt="{{.alt}}" class="dib mb2 pl4 w-80 w-40-ns lozad">
				</div>
			{{ end }}
		</div>
	</div>
</div>
