<nav class="flex justify-between items-center center bg-black fixed w-100" style='z-index: 10;'>

	<!-- Primary Nav -->
	<ul class="overflow-x-scroll overflow-hidden-l flex white">
		<li><a href="#caract" class="ma2 no-underline db">Caracteristicas</a></li>
		<li><a href="#planta" class="ma2 no-underline db">Planta&nbsp;tipo</a></li>

		<li><a href="#versions" class="ma2 no-underline db">Variantes</a></li>

		<li><a href="#staff" class="ma2 no-underline db">Equipo</a></li>
		<li><a href="#contacto" class="ma2 no-underline db">Contacto</a></li>
		<!-- <li><a href="/imagen/" class="ma2 no-underline db">Imágenes</a></li>-->
		<!-- <li><a href="/proceso/" class="ma2 no-underline db">Proceso&nbsp;creativo</a></li>-->
		<!-- <li><a href="/saber/" class="ma2 no-underline db">Para&nbsp;saber&nbsp;más</a></li>-->
	</ul>
	<!-- Logo -->
	<a href="/" class="pa3 db h-100 w2 flex-none">
		<img src="/img/icon.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>


</nav>
