<nav class="flex justify-between items-center center bg-white divider-grey fixed w-100" style='z-index: 10;'>

	<!-- Primary Nav -->
	<ul class="overflow-x-scroll overflow-x-visible-ns flex grey-3">
		<li><a href="#caract" class="pa3 no-underline db">Caracteristicas</a></li>

		<li><a href="#versions" class="pa3 no-underline db">Versiones</a></li>

		<li><a href="#staff" class="pa3 no-underline db">Staff</a></li>
	</ul>
	<!-- Logo -->
	<a href="/" class="pa3 db h-100 w2 flex-none">
		<img src="/img/icon.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>


</nav>
